{
  "presets": [
    "next/babel",
    "@babel/preset-typescript",
    "@babel/preset-react",
    [
      "@babel/preset-env",
      {
        "modules": "commonjs",
        "useBuiltIns": false
      }
    ]
  ],
  "plugins": [
    ["styled-components", { "ssr": true }],
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "components": "./src/components"
        }
      }
    ]
  ]
}
